/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */
#closed-captions p {
	opacity: 0;
	transition: .05s;
    position: absolute;
    margin-left: 28%;
    background-color: black;
}

#closed-captions .on {
	opacity: 1;
}

#closed-captions .off {
	transition: .2s;
	opacity: 0;
}



#video-placeholder{
	margin-left: auto;
	margin-right: auto;
	display: block;
    margin-top: 6%;
    width: 860px;
    height: 480px;
}




body{
    background-color: black;
    
}

.comp {
	font-style: italic;
    font-family: monospace;
    font-size: 20px;
    color: darkseagreen;
    padding color: azure;
}

.comp2 {
	font-style: italic;
    font-family: monospace;
    font-size: 30px;
    color: darkseagreen;

}

.voice2{
    font-style: normal;
    font-family: sans-serif;
    font-size: 20px;
    color: grey;
}

.aggressief{
    font-style: normal;
    font-family: cursive;
    font-size: 20px;
    color:azure;
    text-align: center;
   
}


.alarm{
    margin-left: 65%;
    font-style: normal;
    font-size: 30px;
    color: yellow;
    text-align: center;
    opacity: 0;
    display: inline;       
}


.beep{
    visibility: hidden;
}

.cells1{
    font-style: normal;
    font-family: sans-serif;
    font-size: 20px;
    color: white;
}
.cells2{
    font-style: normal;
    font-family: sans-serif;
    font-size: 20px;
    color: yellow;
}
.cells3{
    font-style: normal;
    font-family: sans-serif;
    font-size: 20px;
    color: red;
}



/* **********************************************
The first paragraph, with extended timing for 
	all siblings. Basically what it does is that
	it shows the text after a delay, which 
	corresponds with the time that the word is
	spoken.
You probably want to change the styling.
**********************************************
*/





/* **********************************************
Sounds.
	You can style the whole body, or you can 
	style anything within the body the moment
	a sound starts.
*********************************************  */

/* The moment the class .sound1 is added to the body, the background is red */



.sound1 #video-placeholder{
    box-shadow: 0 0 1em 1em yellow;
    transition-duration: 1s;
}

.sound2 #video-placeholder{
    box-shadow: none;
}


.sound1 .alarm{
    opacity: 1;
}

.sound2 .alarm{
    opacity: 0;
}

/* alarm op elk alarm laten zien */


.sound3 .alarm1{
    opacity: 0.4;
    color: coral;
    transform: scale(30);
}

.sound4 .alarm1{
    display: none;
}


.sound7 #video-placeholder{
    box-shadow: 0 0 1em 1em red;
    transition-duration: 1s;
}

.sound8 #video-placeholder{
    box-shadow: none;
}



.sound11 #video-placeholder{
    box-shadow: 0 0 1em 1em red;
    transition-duration: 1s;
}

.sound12 #video-placeholder{
    box-shadow: none;
}




.sound15 #video-placeholder{
    box-shadow: 0 0 1em 1em red;
    transition-duration: 1s;
}


.sound16 #video-placeholder{
    box-shadow: 0 0 3em 3em orange;
    transition-duration: 1s;
}

.sound17 #video-placeholder{
    box-shadow: none;
}

.sound18{
    background-color: ghostwhite;
    transition-duration: 41s;
}

.sound18 #video-placeholder{
    width: 600px;
    height: 380px;
    box-shadow: 0 0 10em 10em greenyellow;
    transition-duration: 41s;
}

.sound20 #video-placeholder{
    box-shadow: none;
}

.sound20{
    background-color: black;
    transition-duration: 0s;
}

.sound20 #video-placeholder{
    margin-left: auto;
	margin-right: auto;
	display: block;
    margin-top: 6%;
    width: 860px;
    height: 480px;
    transition-duration: 0s;
}






/* vanaf sound17 piep die steeds hoger wordt*/




/*
.sound12 #video-placeholder{
    margin-left: auto;
	margin-right: auto;
	display: block;
    margin-top: 15%;
    width: 460px;
    height: 315px;
}

.sound13 #video-placeholder{
    margin-left: auto;
	margin-right: auto;
	display: block;
    margin-top: 6%;
    width: 860px;
    height: 480px;
}
*/




.alarm1{
    opacity: 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: coral;
    left: 50%;
    position: absolute;
    z-index: 2;
    right: 50%;
    transition: 2s;
    text-align: center;
}






/* The moment the class .sound1 is added to the body, the movie makes a turn */










